@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Heebo:regular,700,900&display=swap);

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-Linkedin:before {
  content: "";
}

._icon-Group:before {
  content: "";
}

._icon-insta:before {
  content: "";
}

._icon-fb:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  line-height: 1;
  font-family: "Heebo";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Heebo";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
  background: #ffffff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 856px;
  margin: 0 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.header__container {
  max-width: 1052px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header__menu {
  height: 82px;
  padding: 10px 0px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin: 0px 0px 0px 35px;
}

.menu__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #000000;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link_active {
  color: #ff6464;
}

.menu__link:hover {
  color: #ff6464;
}

.icon-menu {
  display: none;
}

.footer {
  text-align: center;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  color: #21243d;
  font-size: 30px;
  margin: 0px 17px 30px 17px;
  cursor: pointer;
}

.footer__icon:hover {
  color: #ff6464;
}

.footer__copyright {
  font-size: 14px;
  line-height: 21px;
  line-height: 150%;
  color: #21243d;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 123px 0px 72px 0px;
}

.hello__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  padding: 0px 10px 0px 0px;
}

.hello__title {
  margin: 0px 0px 15px 0px;
}

.hello__text {
  margin: 0px 0px 27px 0px;
}

.hello__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 243px;
          flex: 0 0 243px;
  height: 243px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -5px 13px 5px #edf7fa;
          box-shadow: -5px 13px 5px #edf7fa;
}

.title {
  font-weight: bold;
  font-size: 44px;
  line-height: 136.3636363636%;
  color: #21243d;
}

.text {
  font-size: 16px;
  line-height: 143.75%;
  color: #21243d;
}

.button {
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #ffffff;
  background: #ff6464;
  padding: 16px 20px;
}

.posts {
  background: #edf7fa;
}

.posts__container {
  padding: 0px 10px 30px 10px;
}

.posts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}

.posts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0px 10px;
}

.title-posts {
  font-size: 22px;
  line-height: 272.7272727273%;
  color: #21243d;
}

.link-posts {
  font-size: 16px;
  line-height: 23px;
  line-height: 143.75%;
  color: #00a8cc;
}

.card {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 30px 20px;
}

.card__title {
  font-weight: bold;
  font-size: 26px;
  line-height: 146.1538461538%;
  margin: 0px 0px 20px 0px;
  color: #21243d;
}

.card__date {
  font-size: 18px;
  line-height: 144.4444444444%;
  margin: 0px 0px 17px 0px;
  color: #21243d;
}

.card__date span {
  margin: 0px 30px;
}

.featured__container {
  padding: 0px 0px 83px 0px;
}

.featured__title {
  text-align: center;
}

.works__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
}

.title-posts {
  font-size: 22px;
  line-height: 272.7272727273%;
  color: #21243d;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 30px 0px;
  margin: 0px -9px 30px -9px;
  border-bottom: 1px solid #e0e0e0;
}

.work:last-child {
  margin: 0;
}

.work__image {
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  padding: 7px 9px;
}

.work__column {
  padding: 0px 9px;
}

.work__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 146.6666666667%;
  color: #21243d;
  margin: 0px 0px 16px 0px;
}

.work__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 23px 0px;
}

.work__year {
  padding: 0px 10px;
  margin: 0px 25px 0px 0px;
  font-weight: 900;
  font-size: 18px;
  line-height: 138.8888888889%;
  color: #ffffff;
  background: #142850;
  border-radius: 16px;
}

.work__category {
  color: #8695a4;
}

.blog__title {
  margin: 76px 0px 55px 0px;
}

.blog__container {
  max-width: 682px;
}

.blog-card {
  padding: 0px 0px 30px 0px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0px 0px 45px 0px;
}

.blog-card:last-child {
  margin: 0px 0px 55px 0px;
}

.blog-card__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 146.6666666667%;
  color: #21243d;
  margin: 0px 0px 15px 0px;
}

.blog-card__date {
  font-size: 20px;
  line-height: 145%;
  color: #21243d;
  margin: 0px 0px 20px 0px;
}

.blog-card__date span:first-child {
  margin: 0px 15px;
}

.blog-card__date span:last-child {
  color: #8695a4;
}

.work-page__container {
  margin-bottom: 112px;
}

.work-page__title {
  margin: 0px 0px 50px 0px;
}

.work-detail__container {
  max-width: 681px;
  margin-bottom: 80px;
}

.work-detail__title {
  margin: 0px 0px 40px 0px;
}

.work-detail__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 35px 0px;
}

.work-detail__date {
  display: inline-block;
  font-weight: 900;
  font-size: 18px;
  line-height: 166.6666666667%;
  padding: 0px 10px;
  color: #ffffff;
  background: #ff7c7c;
  border-radius: 16px;
  margin: 0px 20px 0px 0px;
}

.work-detail__info-text {
  font-size: 20px;
  line-height: 145%;
  color: #21243d;
}

.work-detail__text {
  margin: 0px 0px 40px 0px;
}

.work-detail__image {
  height: 460px;
  margin: 0px 0px 23px 0px;
}

.work-detail__title-mid {
  font-weight: 500;
  font-size: 30px;
  line-height: 200%;
  color: #21243d;
}

.work-detail__title-low {
  font-weight: 500;
  font-size: 24px;
  line-height: 250%;
  color: #21243d;
}

@media (min-width: 767.98px) {
  .featured__title {
    text-align: left;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
    padding: 0 10px;
  }
}

@media (max-width: 767.98px) {
  .header__menu {
    height: 70px;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0px 10px 30px 10px;
    z-index: 50;
  }

  .menu__body._active {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__item {
    margin: 0;
    text-align: center;
  }

  .menu__link {
    color: #faf4f4;
    line-height: 250%;
    font-size: 35px;
  }

  .icon-menu {
    display: block;
    border-color: gray;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: calc(50% - 1px);
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 1px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .icon-menu._active span:last-child {
    top: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .hello {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 33px 0px 58px 0px;
  }

  .hello__description {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .hello__avatar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
    width: 180px;
    -webkit-box-shadow: -4px 9px 5px #edf7fa;
            box-shadow: -4px 9px 5px #edf7fa;
    margin: 0px 0px 30px 0px;
  }

  .title {
    font-size: 32px;
  }

  .posts__header {
    display: block;
    text-align: center;
  }

  .posts__body {
    display: block;
  }

  .posts__column {
    margin-bottom: 17px;
  }

  .posts__column:last-child {
    margin-bottom: 0;
  }

  .title-posts {
    font-size: 18px;
    line-height: 333.3333333333%;
  }

  .link-posts {
    display: none;
  }

  .featured__works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
  }

  .featured__works .work {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .title-posts {
    font-size: 18px;
  }

  .work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 30px 0px;
  }

  .work__image {
    padding: 7px 0px;
  }

  .work__title {
    margin: 0px 0px 16px 0px;
  }

  .work__info {
    margin: 0px 0px 17px 0px;
  }

  .blog__title {
    margin: 24px 0px 18px 0px;
  }

  .blog__container {
    padding: 0px 18px;
  }

  .blog-card {
    margin: 0px 0px 25px 0px;
  }

  .blog-card:last-child {
    margin: 0px 0px 83px 0px;
  }

  .blog-card__title {
    font-size: 26px;
  }

  .work-page__container {
    margin-bottom: 53px;
  }

  .work-page__title {
    margin: 0px 0px 34px 0px;
  }

  .work-detail__info-text {
    font-size: 18px;
  }

  .work-detail__image {
    height: 339px;
  }

  .work-detail__title-mid {
    font-size: 26px;
  }

  .work-detail__title-low {
    font-size: 24px;
  }
}

@media (max-width: 479.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}